@font-face {
  font-family: "BT Regular";
  src: url("https://www.player.bt.com/static/media/BTTV-Regular.89208759.woff");
}

@font-face {
  font-family: "BT Light";
  src: url("https://www.player.bt.com/static/media/BTTV-Light.58b02598.woff");
}

@font-face {
  font-family: "BT Bold";
  src: url("https://www.player.bt.com/static/media/BTTV-Bold.2c8f25a7.woff");
}
