.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

.footer {
  margin-bottom: 20px;

  &__logo {
    width: 3%;
    @extend .inline-middle;
  }

  &__title {
    @extend .inline-middle;
    margin: 0 0 0 4px;
    font-family: "BT Regular", serif;
    font-size: 12px;
    color: #fff;
  }

  &__copyright {
    @extend .inline-middle;
    margin: 0 0 0 20px;
    font-family: "BT Light", serif;
    font-size: 11px;
    color: #5D5A62;
  }

  &__travis--logo {
    @extend .inline-middle;
  }

  &__travis--text {
    @extend .inline-middle;
    margin: 0 0 0 10px;
    font-family: "BT Light", serif;
    font-size: 11px;
    color: #5D5A62;
  }

}
