.nav {

  .mui-tabs__bar {
    margin-bottom: 30px;
    border-bottom: 1px solid #5D5A62;
  }

  .mui-tabs__bar>li>a {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    color: #5D5A62;
    cursor: pointer;
    text-transform: inherit;
  }

  .mui-tabs__bar>li.mui--is-active {

    color: white;
    border-bottom: 1px solid white;
  }

  .mui-tabs__bar>li.mui--is-active>a {
    color: white;
  }
}
